@CHARSET "UTF-8";
#Layer1 {
	position:absolute;
	width:791px;
	height:30px;
	z-index:1;
	left: 160px;
	top: 68px;
}
#Layer5 {
	position:absolute;
	width:296px;
	height:63px;
	z-index:1;
	left: 306px;
	top: 319px;
}
#Layer4 {
	position:absolute;
	width:316px;
	height:80px;
	z-index:1;
	left: 202px;
	top: 246px;
}
.STYLE5 {color: #FFFFFF}
a:link {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FFFFFF;
}
a:hover {
	text-decoration: none;
	color: #FF0000;
}
a:active {
	text-decoration: none;
	color: #FF0000;
}
body{margin:0px;padding:0px;color:black;text-align:center;font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height: 140%;}
 div{margin:0px;padding:0px;border:0px;}
 #menu{background:#333333; height:30px; width:1000px}
 .main{background:#CCC;}
 .top{ background:#CCCCCC; height:100px; width:1000px; margin:0 auto}
 #center{ background:#CCC;margin:0 auto; width:1000px; overflow:auto}
 #left{ background:#CCCCCC;width:700px;float:left; margin:0 0}
 #right{ background:#CCCCCC;width:300px;float:right; margin:0 0}
 
.foot{background:#CCCCCC; min-height:30px; width:1000px; margin:0 auto}
 .STYLE1 {font-size: x-small}
 .STYLE2 {font-size: xx-small; }
 .STYLE4 {font-size: 36px}
 .STYLE6 {font-family: "Times New Roman", Times, serif}
.STYLE10 {color: #E9E9E1}